@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montaga&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --manrope-font-600: 600;
    --manrope-font-500: 500;
    --manrope-font-800: 800;
    --manrope-font-400: 400;
    --manrope-font-700: 700;
}
body{
    background: #111;
    overflow-x: hidden;
}
.header-bg{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    filter: opacity(.6);
}
.header-bg .bg{
    width: 0;
    height: 100vh;
    object-fit: cover;
    transition: 800ms ease-in-out;
}
header .logo{
    object-fit: contain;
}
header nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    color: aliceblue;
    letter-spacing: 5px;
    padding: 4rem 5.5rem;
    align-items: center;
    gap: 2rem;
}
nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li{
    list-style: none;
    overflow: hidden;
    padding-block: 5px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: var(--manrope-font-600);
    font-size: clamp(.8rem, 1.2vw, 1.2rem);
    position: relative;

}
nav ul li a::after,
nav ul li a::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: rgba(255, 128, 0, 0.50);
    position: absolute;
    left: 0;
}
nav ul li a::after{
    bottom: -5px;
    transform: translateX(-100%);
    transition: 300ms ease-in-out;
}
nav ul li a:hover::after,
nav ul li a:hover::before{
    transform: translateX(0);
}

nav ul li a::before{
    transform: translateX(100%);
    transition: 300ms ease-in-out;
}

nav ul li a:focus-within::before{
    transform: translateX(50%);
}
nav ul li a:focus-within::after{
    transform: translateX(-50%);
}

.booking{
    padding: 1rem 1.5rem; 
    background: rgba(0, 0, 0, 0.65); 
    border-radius: 3px; 
    border: 2px #979494 solid;
    font-weight: var(--manrope-font-500);
    font-size: 1.2rem;
    color: aliceblue;
    letter-spacing: 5px;
    cursor: pointer;
}
.more-header{
    margin-top: 8rem;
    color: aliceblue;
    text-align: center;
}
.more-header p{
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: var(--manrope-font-600);
}
.more-header h1{
    font-size: clamp(2.5rem, 8vw, 8rem);
    font-weight: var(--manrope-font-600);
    letter-spacing: 12px;
}
input[type="radio"]{
    display: none;
}
.manual-nav{
    position: absolute;
    display: flex;
    gap: 1.5rem;
    width: 100%;
    height: 200px;
    bottom: 0;
    z-index: 100;
    justify-content: center;
    
}
.manual-btn{
    border: 1px solid aliceblue;
    width: 1rem;
    height: 1rem;
    rotate: z 45deg;
    cursor: pointer;
    transition: 400ms ease;
}
#bg1:checked ~ .manual-nav label[for="bg1"],
#bg2:checked ~ .manual-nav label[for="bg2"],
#bg3:checked ~ .manual-nav label[for="bg3"]{
    border: 1px solid rgba(240, 248, 255, 0.452);
}
#bg1:checked ~ .header-bg .bg1,
#bg2:checked ~ .header-bg .bg2,
#bg3:checked ~ .header-bg .bg3{
    width: 100%;
}

.fa-bars{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
.fa-bars,
.fa-times{
    display: none;
}

@media all and (max-width: 960px){
    header nav{
        flex-direction: column;
    }
    nav ul{
        height: 100vh;
        position: fixed;
        flex-direction: column;
        background-color: #111;
        top: 0;
        right: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        transform: translateX(250px);
        transition: 500ms ease-in-out 300ms;
    }
    .fa-bars,
    .fa-times{
        display: block;
    }
    .fa-times{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
}